<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.springboot.mapper.DrugMapper" >
  <resultMap id="BaseResultMap" type="com.demo.springboot.pojo.Drug" >
    <id column="drugs_Id" property="drugsId" jdbcType="INTEGER" />
    <result column="dr_Name" property="drName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="dr_Info" property="drInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    drugs_Id, dr_Name, price, num, createDate, images, dr_Info
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.demo.springboot.pojo.DrugExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from drug
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from drug
    where drugs_Id = #{drugsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from drug
    where drugs_Id = #{drugsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.springboot.pojo.DrugExample" >
    delete from drug
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.springboot.pojo.Drug" >
    insert into drug (drugs_Id, dr_Name, price, 
      num, createDate,
      dr_Info)
    values (#{drugsId,jdbcType=INTEGER}, #{drName,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{num,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
      #{drInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.springboot.pojo.Drug" >
    insert into drug
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="drugsId != null" >
        drugs_Id,
      </if>
      <if test="drName != null" >
        dr_Name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="images != null" >
        images,
      </if>
      <if test="drInfo != null" >
        dr_Info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="drugsId != null" >
        #{drugsId,jdbcType=INTEGER},
      </if>
      <if test="drName != null" >
        #{drName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="drInfo != null" >
        #{drInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.springboot.pojo.DrugExample" resultType="java.lang.Integer" >
    select count(*) from drug
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update drug
    <set >
      <if test="record.drugsId != null" >
        drugs_Id = #{record.drugsId,jdbcType=INTEGER},
      </if>
      <if test="record.drName != null" >
        dr_Name = #{record.drName,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.images != null" >
        images = #{record.images,jdbcType=VARCHAR},
      </if>
      <if test="record.drInfo != null" >
        dr_Info = #{record.drInfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update drug
    set drugs_Id = #{record.drugsId,jdbcType=INTEGER},
      dr_Name = #{record.drName,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      num = #{record.num,jdbcType=INTEGER},
      createDate = #{record.createdate,jdbcType=TIMESTAMP},
      images = #{record.images,jdbcType=VARCHAR},
      dr_Info = #{record.drInfo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.springboot.pojo.Drug" >
    update drug
    <set >
      <if test="drName != null" >
        dr_Name = #{drName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="drInfo != null" >
        dr_Info = #{drInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where drugs_Id = #{drugsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.springboot.pojo.Drug" >
    update drug
    set dr_Name = #{drName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      num = #{num,jdbcType=INTEGER},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      images = #{images,jdbcType=VARCHAR},
      dr_Info = #{drInfo,jdbcType=VARCHAR}
    where drugs_Id = #{drugsId,jdbcType=INTEGER}
  </update>
  <select id="findAllDru" resultMap="BaseResultMap">
        select * from drug
    </select>
    <select id="findSigDrug" resultMap="BaseResultMap">
        select * from drug where drugs_Id=#{drugsId}
    </select>
    <select id="findAllDruByPage" resultMap="BaseResultMap">
        select * from drug limit #{page},#{pageSize}
    </select>
    <update id="addDrugImgage">
      update  drug set images=#{imgName} where dr_Name=#{drName}
    </update>
</mapper>